{% extends "layout.html" %}

{% block page_title %}
  Minimum standard of accessibility
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="box-highlight">
    <div class="box-highlight__title">Accessibility: requirements, background and approach</div>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/prototype01/">Content</a></li>
      <li>Minimum standard of accessibility</li>
    </ol>
  </div>

  <div class="summary">
    <h1 class="heading-large">
      Minimum standard of accessibility
    </h1>

    <div class="text">
      <p class="lede">
        The level of accessibility required for all public sector websites.
      </p>
    </div>
  </div>

  <div class="text">

    <p>All public sector websites must meet a minimum standard of accessibility, which is Level AA of the Web Content Accessibility Guidelines (WCAG) 2.0. This includes GOV.UK and all services that appear on it.</p>

    <p>All services must be tested with disabled and older people throughout the different phases of design.</p>

  </div>

</main>

{% endblock %}
