{% extends "layout.html" %}

{% block page_title %}
Prototype 2 - Accessibility: requirements, background and approach
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="box-highlight">
    <h1 class="box-highlight__title">Accessibility: requirements, background and approach</h1>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li>Content</li>
    </ol>
  </div>

  <div class="summary">
    <p class="lede">
      Deliverying services that do not contain barriers for people that have impairments
    </p>

    <p>
      <a href="#missing-pdf">Download all content as a PDF</a>
    </p>
  </div>

  <div class="section-list">

    <h2><a href="#todo">What is accessibility?</a></h2>
    <p>What is meant by accessibility in relation to government services.</p>

    <h2><a href="#todo">Minimum standard of accessibility</a></h2>
    <p>The level of accessibility required for all digital services.</p>

    <h2><a href="#todo">Benefits of accessibility</a></h2>
    <p>Making a service accessible improves it for everyone.</p>

    <h2><a href="#todo">Legal duty</a></h2>
    <p>The Equality Act 2010 and the EU Directive on the accessibility of the public sector bodies' websites requires government to provide accessible services.</p>

    <h2><a href="#todo">Understanding the Web Content Accessibility Guidleines (WCAG) 2.0</a></h2>
    <p>An easy to understand overview of WCAG 2.0</p>

    <h2><a href="#todo">Assistive Technologies</a></h2>
    <p>An overview of the equipment, software and hardware system that helps disabled people to interact with computers.</p>

    <h2><a href="#todo">Range of abilities</a></h2>
    <p>The types of disability that your service needs consider and work for, and the common barriers faced.</p>

    <h2><a href="#todo">What to do and when</a></h2>
    <p>How to approach accessibility so that it's easy, efficient and effective.</p>

    <h2><a href="#todo">Responsibility and the team</a></h2>
    <p>What each role on a team needs to do to meet their responsibility for accessibility.</p>

    <h2><a href="#todo">Costs</a></h2>
    <p>The costs that can be incurred when making a service accessible.</p>

    <h2><a href="#todo">How to meet the Web Content Accessibility Guidlelines</a></h2>
    <p>Curated resources to help make features of a website accessible</p>

    <h2><a href="#todo">Alternative formats, channels and communication support</a></h2>
    <p>Guidance on how to make paper, phone and face to face accessible</p>

    <h2><a href="#todo">How to include people with access needs in your User Research</a></h2>
    <p>Guidance on how to recruit people with access needs and how to run user research sessions.</p>

  </div>

</main>

{% endblock %}
